[Unit]
Description=Universal Media Server
After=network-online.target polkit.service sound.target nss-lookup.target remote-fs.target systemd-user-sessions.service bluetooth.target
Wants=network-online.target polkit.service sound.target

[Service]
Type=simple
User=ums
Group=ums
ExecStart=/opt/ums/UMS.sh
Restart=on-failure
RestartSec=10s
ExecStop=/usr/bin/pkill --signal SIGINT -f 'java .*ums.jar.*'
StandardOutput=file:/var/lib/ums/debug.log
StandardError=inherit
Environment=UMS_PROFILE=/var/lib/ums/UMS.conf

[Install]
WantedBy=graphical.target
